[submodule "pack/manual/start/material.nvim"]
	path = pack/manual/start/material.nvim
	url = https://github.com/marko-cerovac/material.nvim.git

[submodule "pack/manual/start/milli.nvim"]
	path = pack/manual/start/milli.nvim
	url = https://github.com/Amansingh-afk/milli.nvim


[submodule "pack/manual/start/nnn.nvim"]
	path = pack/manual/start/nnn.nvim
	url = https://github.com/luukvbaal/nnn.nvim

[submodule "pack/manual/start/plenary.nvim"]
	path = pack/manual/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim


[submodule "pack/manual/start/telescope.nvim"]
	path = pack/manual/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim


[submodule "pack/manual/start/vim-illuminate"]
	path = pack/manual/start/vim-illuminate
	url = https://github.com/rrethy/vim-illuminate


[submodule "pack/manual/start/nvim-web-devicons"]
	path = pack/manual/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons 



[submodule "pack/manual/start/toggleterm.nvim"]
	path = pack/manual/start/toggleterm.nvim
	url = https://github.com/akinsho/toggleterm.nvim 



[submodule "pack/manual/start/galaxyline.nvim"]
	path = pack/manual/start/galaxyline.nvim
	url = https://github.com/nvimdev/galaxyline.nvim 



[submodule "pack/manual/start/YouCompleteMe"]
	path = pack/manual/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "pack/manual/start/nvim-cmp"]
	path = pack/manual/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "pack/manual/start/nvim-lspconfig"]
	path = pack/manual/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/manual/start/cmp-nvim-lsp"]
	path = pack/manual/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "pack/manual/start/LuaSnip"]
	path = pack/manual/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
